.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1 0%;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

.align{
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    gap: 3rem;
}

.input{
  width: 80%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Slab Variable', sans-serif;
  color: #a3a8ab;
  border:none;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.box{
  margin-top: 1.75rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  background-color: white;
  margin-left: 10%;
  width: 80%;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.button{
  background-color: #0B409c;
  width: 80%;
  height: 40px;
  margin-top: 1.75rem;
  color: white;
  font-size:0.875rem;
  line-height: 1.25rem;
  font-family: 'Roboto Slab Variable', sans-serif;
}

.check1{
  border: none;
  color:#0B409c;
  margin-right: 47%;
  font-weight: 500;
  margin-top: 1.75rem;
  font-family: 'Roboto Slab Variable', sans-serif;
}
.check{
  border: none;
  color:#0B409c;
  margin-top: 1.75rem;
  font-weight: 500;
  margin-right: 20%;
  font-family: 'Roboto Slab Variable', sans-serif;
}

.button1{
  font-size:0.875rem;
  line-height: 1.25rem;
  color: #0B409c;
  margin-right: 50%;
  margin-top: 1rem;
  font-weight: 600;
  font-family: Roboto Slab Variable, sans-serif;
}

.button2{
  font-size:0.875rem;
  line-height: 1.25rem;
  color: #0B409c;
  margin-right: 2.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  font-weight: 600;
  font-family: Roboto Slab Variable, sans-serif;
}

.dropdown{
  width: 22%;
  height: 1.75rem;
  margin-top: 1.5rem;
  margin-right: 57%;
  border-radius: 0.5rem;
  background-color: white;
  color: #a3a8ab;
  font-family: Roboto Slab Variable, sans-serif;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}